{% extends "base.html" %}
{% block body %}


<div class = "container">
<div class="row">
    {% for x in articles %}
    <div class="col-sm-4">
         <div class="card" style=" height: 30rem; width: 22rem;">
            <img src="{{x.urlToImage}}" class="card-img-top" alt="{{x.source.name}}">
            <div class="card-body">
            <h5 class="card-title">{{x.title}}</h5>
                <h6 class="card-title">{{x.publishedAt}}</h6>
            <p class="card-text">{{x.description|truncatechars:150}}</p>
            <a href="{{x.url}}"  class="btn btn-primary">Read More</a>
            </div>
         </div>
    </div>
{%endfor%}
</div>
</div>
{% endblock %}